{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <h3 class="font-weight-light">Radiant</h3>
        {% for i in range(5) %}
        <div class="p-0 d-inline">
            <img id="radiant-{{i}}" src="{{ url_for('static', filename='img/placeholder.png')}}"
                class="hero-pool hero-pool-radiant img-responsive" data-heroid="-1">
        </div>
        {% endfor %}
    </div>
    <div class="col">
        <h3 class="font-weight-light">Dire</h3>
        {% for i in range(5) %}
        <div class="p-0 d-inline">
            <img id="dire-{{i}}" src="{{ url_for('static', filename='img/placeholder.png')}}"
                class="hero-pool hero-pool-dire img-responsive" data-heroid="-1" >
        </div>
        {% endfor %}
    </div>
</div>
<hr class="my-4">
<div class="row">
    <div class="col-8">
        <div class="heroview">
            {% for hero_id, hero in heroes.items() %}
            <div class="hero-box">
                <div class="wrapper">
                    <div class="hero-select">
                        <div class="hero-select-left noselect" data-heroid="{{hero['id']}}">
                            Radiant
                        </div>
                        <div class="hero-select-right noselect" data-heroid="{{hero['id']}}">
                            Dire
                        </div>
                    </div>

                    <div class="hero-image noselect">
                        <img src="{{ url_for('static', filename=hero.image) }}"
                            width="90px" height="50px" alt="{{hero['name']}}">
                    </div>
                    <div class="hero-name text-center bg-dark text-white noselect">{{hero['name']}}
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <!-- Updated Buttons -->
            <button id="radiantPickBtn" type="button" class="btn btn-primary m-1">Radiant Pick</button>
            <button id="radiantBanBtn" type="button" class="btn btn-secondary m-1">Radiant Ban</button>
            <button id="direPickBtn" type="button" class="btn btn-success m-1">Dire Pick</button>
            <button id="direBanBtn" type="button" class="btn btn-danger m-1">Dire Ban</button>
            <button id="predictWinnerBtn" type="button" class="btn btn-outline-dark m-1">Predict Winner</button>
        </div>

        <div class="row">
            <textarea id="outputOracle" rows="30" class="m-1" ></textarea>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %} 

<script src="{{url_for('static', filename='js/oracle.js')}}"></script>
{% endblock %}
